In [12]:
#Importing the libraries

from sklearn.preprocessing import LabelEncoder


import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
#Loading the data
print("Loading the data.......")
data=pd.read_csv(r'C:\Users\kisho\OneDrive\Desktop\AI Mini Projects\Student Performance Classification\Dataset\student_performance_prediction.csv')
data.info()
print("data is loaded.")

Loading the data.......
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Student ID                                   40000 non-null  object
 1   Study Hours per Week                         38005 non-null  float64
 2   Attendance Rate                              38008 non-null  float64
 3   Previous Grades                              38006 non-null  float64
 4   Participation in Extracurricular Activities  38000 non-null  object
 5   Parent Education Level                       38000 non-null  object
 6   Passed                                       38000 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.1+ MB
data is loaded.

In [14]:
#Removing the Student ID
data = data.drop(data.columns[0], axis=1)

In [15]:
data.head(10)

,Study Hours per Week,Attendance Rate,Previous Grades,Participation in Extracurricular Activities,Parent Education Level,Passed
0,12.5,NaN,75.0,Yes,Master,Yes
1,9.3,95.3,60.6,No,High School,No
2,13.2,NaN,64.0,No,Associate,No
3,17.6,76.8,62.4,Yes,Bachelor,No
4,8.8,89.3,72.7,No,Master,No
5,8.8,73.8,69.3,Yes,High School,Yes
6,17.9,38.6,93.6,No,Doctorate,Yes
7,13.8,95.8,59.2,Yes,Doctorate,No
8,7.7,100.1,91.9,No,Bachelor,Yes
9,12.7,38.4,37.8,Yes,High School,NaN

In [16]:
data.isnull().sum()

Study Hours per Week                           1995
Attendance Rate                                1992
Previous Grades                                1994
Participation in Extracurricular Activities    2000
Parent Education Level                         2000
Passed                                         2000
dtype: int64

In [17]:
data[['Study Hours per Week','Attendance Rate','Previous Grades']]=data[['Study Hours per Week','Attendance Rate','Previous Grades']].fillna(data[['Study Hours per Week','Attendance Rate','Previous Grades']].mean())

In [18]:
data = data.dropna(
    subset=[
        'Parent Education Level',
        'Participation in Extracurricular Activities',
        'Passed'
    ]
)

In [19]:
data.isnull().sum()

Study Hours per Week                           0
Attendance Rate                                0
Previous Grades                                0
Participation in Extracurricular Activities    0
Parent Education Level                         0
Passed                                         0
dtype: int64

In [20]:
#Encoding the columns

le=LabelEncoder()

data['Participation in Extracurricular Activities']=le.fit_transform(data['Participation in Extracurricular Activities'])
data['Passed']=le.fit_transform(data['Passed'])

In [21]:
data = pd.get_dummies(
    data,
    columns=['Parent Education Level'],
    drop_first=True
)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34306 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Study Hours per Week                         34306 non-null  float64
 1   Attendance Rate                              34306 non-null  float64
 2   Previous Grades                              34306 non-null  float64
 3   Participation in Extracurricular Activities  34306 non-null  int64
 4   Passed                                       34306 non-null  int64
 5   Parent Education Level_Bachelor              34306 non-null  bool
 6   Parent Education Level_Doctorate             34306 non-null  bool
 7   Parent Education Level_High School           34306 non-null  bool
 8   Parent Education Level_Master                34306 non-null  bool
dtypes: bool(4), float64(3), int64(2)
memory usage: 1.7 MB

In [23]:
data.to_csv(
    r'C:\Users\kisho\OneDrive\Desktop\AI Mini Projects\Student Performance Classification\Dataset\encoded_data.csv',
    index=False
)